html {
  /* box-sizing: border-box; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

input {
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 6px;
  border: 1px solid #e6e6e6;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

button {
  margin-top: 6px;
  font-size: 1rem;
  padding: 4px;
  border: 0;
  border-radius: 4px;
  background-color: #25bdfc;
  cursor: pointer;
  width: 100%;
  color: #fff;
}

button:hover {
  background-color: #22ddf6;
}

span {
  font-size: 0.75rem;
}
